{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

    .form-control{
      border: 1px;
     border-color: gray;
     border-style: solid;
    
    }
    .form-control:focus {
      border: 2px;
      border-color: green;
      border-style: solid;
       
    }
    .form-control::placeholder {
      color: grey;
    
    }
    
    </style>

<div class="container-lg">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-9"><h2><b>LISTA</b></h2></div>
                </div>
            </div>

            <div class="form-row">
               
            <table class="table table-striped  mt-1">
                <thead>
                    <tr>
                        <th class="align-middle">ID</th>
                        <th class="align-middle">Razon Social</th>
                        <th class="align-middle">CUIT</th>
                        <th class="align-middle">Direccion</th>
                        <th class="align-middle">Telefono</th>
                        <th class="align-middle">Email</th>
                        <th class="align-middle">Localidad</th>
                        <th class="align-middle">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for art in lista %}
                    <tr>
                        <td class="align-middle">{{art.nuevo}}</td>
                        <td class="align-middle">{{art.articulo_proveedor}}</td>
                        <td class="align-middle">{{art.descripcion}}</td>
                        <td class="align-middle">{{art.precio_costo}}</td>
                        <td class="align-middle">{{art.proveedor}}</td>
                        <td class="align-middle">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                  {% endif %}
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link text-success" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                  {% endif %}
                </ul>
 
</div>     

{% endblock %}