{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

    .form-control{
      border: 1px;
     border-color: gray;
     border-style: solid;
    
    }
    .form-control:focus {
      border: 2px;
      border-color: green;
      border-style: solid;
       
    }
    .form-control::placeholder {
      color: grey;
    
    }
    .align-middle {
      overflow: auto;
            }
  
    </style>

<div class="container-lg">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-9"><h2><b>Articulos</b></h2></div>
                    <div class="col-sm-3">
                       <a href="{% url 'articulo_create' %}"><button type="button" class="btn btn-success add-new"><i class="fa fa-plus"></i> Nuevo Artículo</button></a>
                    </div>
                </div>
            </div>
            <form method="GET">
                <div class="input-group">
                    <div class="form-row col-md-5">
                      <input id="search-focus col-sm-9" type="search" id="form" class="form-control" name="buscar"/>
                    </div>
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
            </form>
            <div class="form-row">
               
            <table class="table table-striped mt-1">
                <thead>
                    <tr>
                        <th class="align-middle col-sm-1">ID</th>
                        <th class="align-middle col-sm-1">Articulo</th>
                        <th class="align-middle col-sm-1">Art. Proveedor</th>
                        <th class="align-middle col-sm-1">Marca</th>
                        <th class="align-middle col-sm-1">Tipo</th>
                        <th class="align-middle col-sm-1">Costo</th>
                        <th class="align-middle col-sm-1">Precio Venta</th>
                        <th class="align-middle col-sm-1">Proveedor</th>
                        <th class="align-middle col-sm-1">Ultima actualizacion</th>
                        <th class="align-middle col-sm-1">Stock</th>
                        <th class="align-middle col-sm-2">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for articulo in articulos %}
                    <tr>
                        <td class="align-middle col-sm-1">{{articulo.id}}</td>
                        <td class="align-middle col-sm-1">{{articulo.descripcion}}</td>
                        <td class="align-middle col-sm-1">{{articulo.articulo_proveedor}}</td>
                        <td class="align-middle col-sm-1">{{articulo.marca}}</td>
                        <td class="align-middle col-sm-1">{{articulo.tipo}}</td>
                        <td class="align-middle col-sm-1">{{articulo.precio_costo}}</td>
                        <td class="align-middle col-sm-1">{{articulo.precio_vta}}</td>
                        <td class="align-middle col-sm-1">{{articulo.proveedor}}</td>
                        <td class="align-middle col-sm-1">{{articulo.fecha_actualizacion}}</td>
                        <td class="align-middle col-sm-1">{{articulo.stock}}</td>
                        <td class="align-middle col-sm-2">
                            <a href="{% url 'articulo_update' articulo.id %}"><button type="button" class="btn btn-success add-new btn-xs"><i class="fa fa-pencil fa-xs" aria-hidden="true"></i></button></a>
                            <a href="{% url 'articulo_delete' articulo.id %}"><button type="button" class="btn btn-success add-new btn-xs"><i class="fa fa-trash fa-xs" aria-hidden="true"></i></button></a>
                            <a href="{% url 'ordenCompraAdd' articulo.id %}"><button type="button" class="btn btn-success add-new btn-xs"> Pedir </button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                  {% endif %}
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link text-success" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                  {% endif %}
                </ul>
 
</div>     

{% endblock %}