{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

    .form-control{
      border: 0.5px;
     border-color: gray;
     border-style: solid;
     border-radius: 0;
     
    
    }
    .form-control:focus {
      border: 2px;
      border-color: green;
      border-style: solid;
       
    }
    .form-control::placeholder {
      color: grey;
      
    
    }

    .form-control-sm{

     border-color: grey;
     border-style: solid;
    
    }
    .form-control-sm:focus {
      border: 1px;
      border-color: green;
      border-style: solid;
       
    }
    .form-control-sm::placeholder {
      color: grey;
    
    }
  

	.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}

    </style>
	

<div class="container-lg">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-9"><h2><b>Configuración Lista Articulos - Proveedores</b></h2></div>
                </div>
            </div>
            <form method="POST" action="{% url 'configuracion' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                  <select class="form-control col-2 mr-2" name="tipo_archivo" required>
                    <option value="">Tipo Archivo</option>
                    <option value="excel">Excel</option>
                    <option value="csv">CSV</option>
                    <option value="txt_del">Texto</option>
                  </select>   
				
            <select class="form-control col-2  " name="delimitador">
              <option value="">Delimitador</option>
              <option value="coma">,</option>
              <option value="p-coma">;</option>
              <option value="tab">Tab</option>
            </select>  
           
          </div>
          <br>
            <div class="custom-file col-sm-4  form-group">
              <input type="file" class="custom-file-input" id="importFile" name="file" required>
              <label class="custom-file-label" for="customFile">Archivo</label>
              </div>
         
              <input type="submit" class="btn btn-success" value="Vista Previa">
              
         
            </form>

</div>     
<table class="table table-striped  mt-1">
  <tbody>
      {% for row in data %}
      <tr>
        {% for cell in row %}
          <td class="align-middle">{{cell}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>


{% if data is not None %}

<form method="POST" action="{% url 'vincular_configuracion' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {% for arch_delim in arch_delim %}
 <input type="hidden" name="arch" value="{{arch_delim}}">
 {% endfor %}
  <br>
  <br>
  <div class="form-group ">
    <div class="input-group">
      <input type="number" min="0" max="100" name="cabecera" class="form-control col-2 mr-2" placeholder="Cabecera">
  <select class="form-control col-3" name="proveedores" required>
    {% for proveedor in proveedores %}
    <option value="{{proveedor.id}}">{{ proveedor }}</option>
   {% endfor %}
  </select> 
</div>
</div>
<br>
<label for="">Separador</label>
<div class="form-group" >
  <div class="input-group">
  <select class="form-control col-2 mr-2" name="miles"> 
    <option value="sin_separador">Miles</option>
    <option value="sin_separador"></option>
    <option value="punto">.</option> 
    <option value="coma">,</option> 
  </select>

  <select class="form-control col-2" name="decimales"> 
    <option value="sin_separador">Decimales</option>
    <option value="sin_separador"></option>
    <option value="punto">.</option> 
    <option value="coma">,</option> 
  </select>
</div>
</div>

  
      <table class="table table-striped  mt-1">
            <thead>
              <tr>
                <th scope="col">DE</th>
                <th scope="col">A</th>
              </tr>
            </thead>
          <tbody>
            <tr name='fila1'>
              <th >
              <select class="form-control" name="cod_articulo">
                <option value="col0"></option>
                {% for num in num_colums %}
                 <option value="col{{num}}">Columna {{ num }}</option> 
                {% endfor %}
              </select>
            </th>

            <th>
              <input class="form-control" type="text" id="" name="cor_art" placeholder="Cod. Articulo" disabled>     
            </th>
            </tr >
            <tr name='fila2'>
              <th>
              <select class="form-control" name="descripcion">
                <option value="col0"></option>
                {% for num in num_colums %}
                 <option value="col{{num}}">Columna {{ num }}</option> 
                {% endfor %}
              </select>
            </th>

            <th>
              <input class="form-control" type="text" id="" name="descrip" placeholder="Descripcion" disabled>
            </th>
            </tr>
            <tr name='fila3'>
              <th>
              <select class="form-control" name="precio">
                <option value="col0"></option>
                {% for num in num_colums %}
                <option value="col{{num}}">Columna {{ num }}</option> 
               {% endfor %}
              </select>
            </th>

            <th>
              <input class="form-control" type="text" id="" name="precio" placeholder="Precio" disabled>
            </th>
            </tr>
        </tbody>
      </table>
      <input type="submit" class="btn btn-success" value="Vincular">
</form>
{% endif %}



<script>
	document.querySelector('#importFile').addEventListener('change',function(e){
  	var fileName = document.getElementById("importFile").files[0].name;
  	var nextSibling = e.target.nextElementSibling
  	nextSibling.innerText = fileName
	});

</script>


{% endblock %}