{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

    .form-control{
      border: 1px;
     border-color: gray;
     border-style: solid;
    
    }
    .form-control:focus {
      border: 2px;
      border-color: green;
      border-style: solid;
       
    }
    .form-control::placeholder {
      color: grey;
    
    }

    .form-control-sm{

     border-color: grey;
     border-style: solid;
    
    }
    .form-control-sm:focus {
      border: 1px;
      border-color: green;
      border-style: solid;
       
    }
    .form-control-sm::placeholder {
      color: grey;
    
    }
  

	.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}

    </style>
	

<div class="container-lg">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-9"><h2><b>Configuración Lista Articulos - Proveedores</b></h2></div>
                </div>
            </div>
            <form method="POST" action="{% url 'configuracion' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="input-group">
                  <select class="form-control-sm" name="tipo_archivo" required>
                    <option value="">Tipo Archivo</option>
                    <option value="excel">Excel</option>
                    <option value="csv">CSV</option>
                    <option value="txt_del">Txt Delimitado</option>
                    <option value="txt_af">Txt Ancho Fijo</option>
                  </select>   
				
            <select class="form-control-sm" name="delimitador">
              <option value="">Delimitador</option>
              <option value="coma">,</option>
              <option value="p-coma">;</option>
              <option value="tab">Tab</option>
            </select>  
            <select class="form-control-sm" name="proveedores" required>
              {% for proveedor in proveedores %}
              <option>{{ proveedor }}</option>
             {% endfor %}
            </select> 
          </div>

          
            <div class="custom-file col-sm-4">
              <input type="file" class="custom-file-input" id="importFile" name="file" required>
              <label class="custom-file-label" for="customFile">Archivo</label>
              </div>
              <div class="col-sm-2">
              <input type="submit" class="btn btn-success" value="Vista Previa">
              
              </div>
            </form>

</div>     
<table class="table table-striped  mt-1">
  <tbody>
      {% for row in data %}
      <tr>
        {% for cell in row %}
          <td class="align-middle">{{cell}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>


{% if data is not None %}

<form method="POST" action="{% url 'vincular_configuracion' %}" enctype="multipart/form-data">
  {% csrf_token %}
      <table class="table table-striped  mt-1">

            <thead>
              <tr>
                <th scope="col">DE</th>
                <th scope="col">A</th>
              </tr>
            </thead>
          <tbody>
            <tr  id="fila1">
              <th>
              <select class="form-control" name="colum1">
                <option value="col0"></option>
                <option value="col1">Columna 1</option>
                <option value="col2">Columna 2</option>
                <option value="col3">Columna 3</option>
              </select>
            </th>

            <th>
              <select class="form-control" name="colum2">
                <option value="col0"></option>
                <option value="col1">Cod. Articulo</option>
                <option value="col2">Descripcion</option>
                <option value="col3">Precio</option>
              </select>
            </th>
            </tr>
            <tr  id="fila2">
              <th>
              <select class="form-control" name="colum1">
                <option value="col0"></option>
                <option value="col1">Columna 1</option>
                <option value="col2">Columna 2</option>
                <option value="col3">Columna 3</option>
              </select>
            </th>

            <th>
              <select class="form-control" name="colum2">
                <option value="col0"></option>
                <option value="col1">Cod. Articulo</option>
                <option value="col2">Descripcion</option>
                <option value="col3">Precio</option>
              </select>
            </th>
            </tr>
            <tr  id="fila3">
              <th>
              <select class="form-control" name="colum1">
                <option value="col0"></option>
                <option value="col1">Columna 1</option>
                <option value="col2">Columna 2</option>
                <option value="col3">Columna 3</option>
              </select>
            </th>

            <th>
              <select class="form-control" name="colum2">
                <option value="col0"></option>
                <option value="col1">Cod. Articulo</option>
                <option value="col2">Descripcion</option>
                <option value="col3">Precio</option>
              </select>
            </th>
            </tr>
        </tbody>
      </table>
      <input type="submit" class="btn btn-success" value="Vincular">
</form>
{% endif %}



<script>
	document.querySelector('#importFile').addEventListener('change',function(e){
  	var fileName = document.getElementById("importFile").files[0].name;
  	var nextSibling = e.target.nextElementSibling
  	nextSibling.innerText = fileName
	});

</script>


{% endblock %}